cookie:
  expiry_days: 30
  key: [YOUR KEY]
  name: [YOUR NAME]
credentials:
  usernames:
    stan:
      email: [YOUR MAIL]
      failed_login_attempts: 0
      logged_in: true
      name: [YOUR NAME]
      password: [YOUR PASSWORD]
pre-authorized:
  emails:
  - [YOUR MAIL]
